/* =========  General settings  ========= */
:root {
  --color-turquise: #00dbde;
  --color-purple: #fc00ff;
  --color-black: #001a23;
  --color-white: #dbd8f0;
  --color-lime: #89fc00;
  --background-gradient: linear-gradient(90deg, #00dbde 0%, #fc00ff 100%);
}
@font-face {
  font-family: carbon;
  src: url(./assets/carbontype-webfont.woff);
}
@font-face {
  font-family: action;
  src: url(./assets/Action_Man-webfont.woff);
}
/* To be deleted */
/* header,
nav,
main,
ul,
div,
aside {
  border: 1px solid black;
} */
/* --------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
body {
  height: 100vh;
  width: 100vw;
  background-image: var(--background-gradient);
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* =========  Structure  =========  */
.main-container {
  width: 98vw;
  height: 98vh;
  margin: 1vh 1vw;
  background: rgba(254, 255, 254, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 1fr 4fr;
  grid-template-areas:
    "navbar header"
    "navbar main";
}
nav {
  grid-area: navbar;
  display: grid;
  grid-template-rows: 0.2fr 0.4fr 1fr;
}
.logo {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
main {
  grid-area: main;
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  grid-template-areas: "projects announcements";
}
header {
  grid-area: header;
  display: grid;
  grid-template-rows: 1fr 2fr;
}
.top-header,
.bottom-header {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 2fr 1fr;
}
.user-welcome {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 6fr;
}
.cards-container {
  grid-area: projects;
  display: grid;
  grid-template-rows: 0.3fr 6fr;
}
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px;
}
aside {
  grid-area: announcements;
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.assignment-container {
  display: grid;
  grid-template-rows: 0.3fr 2.9fr;
}
.trending-container {
  display: grid;
  grid-template-rows: 0.3fr 2.9fr;
}
.trending-card {
  display: grid;
}
.trending-card-user {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
}
.trending-card-user img {
  grid-row: span 2;
  place-self: center;
}
.trending-card-user p:first-of-type {
  align-self: end;
}

/* =========  Fonts  ========= */
nav .logo h1 {
  font-size: clamp(1rem, 1rem + 0.7vw, 2rem);
}
nav ul {
  font-size: clamp(0.8rem, 0.5rem + 0.5vw, 1rem);
}

/* =========  Navbar styling  ========= */
nav .logo {
  place-self: center start;
  gap: 10px;
  padding-left: 8px;
}
nav .logo h1 {
  font-family: action, sans-serif;
  place-self: center;
}
nav .logo img {
  min-width: 40px;
}
nav ul {
  display: flex;
  flex-direction: column;
}
nav ul li {
  width: fit-content;
  padding: 6px 12px 6px 26px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 0 16px 16px 0;
}
nav ul li:hover {
  background: var(--color-turquise);
  font-size: larger;
  cursor: default;
}
