/* =========  General settings  ========= */
:root {
  --color-turquise: #00dbde;
  --color-purple: #fc00ff;
  --color-black: #001a23;
  --color-white: #dbd8f0;
  --color-lime: #89fc00;
  --background-gradient: linear-gradient(90deg, #00dbde 0%, #fc00ff 100%);
  --background-opacity: rgba(254, 255, 254, 0.4);
}
@font-face {
  font-family: carbon;
  src: url(./assets/carbontype-webfont.woff);
}
@font-face {
  font-family: action;
  src: url(./assets/Action_Man-webfont.woff);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
html {
  height: 100%;
  background-image: var(--background-gradient);
}
body {
  min-height: 100vh;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* =========  Structure  =========  */
.main-container {
  max-width: 96vw;
  height: 96vh;
  margin: 2vh auto;
  background: var(--background-opacity);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 1fr 4fr;
  gap: 1vw;
  grid-template-areas:
    "navbar header"
    "navbar main";
}
nav {
  grid-area: navbar;
  display: grid;
  grid-template-rows: 0.2fr 0.4fr 2fr;
  gap: 20px;
}
.logo {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
main {
  grid-area: main;
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-areas: "projects announcements";
  gap: 1vw;
}
header {
  grid-area: header;
  display: grid;
  grid-template-rows: 1fr 2fr;
  row-gap: 0.5vw;
}
.top-header {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 3fr 1fr;
}
.bottom-header {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 2fr 1fr 0.1fr;
}
.user-welcome {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 6fr;
}
.cards-container {
  grid-area: projects;
  display: grid;
  grid-template-rows: 0.3fr 6fr;
  gap: 5px;
}
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
  column-gap: 20px;
  row-gap: 20px;
  padding-bottom: 20px;
}
aside {
  grid-area: announcements;
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}
.assignment-container {
  display: grid;
  grid-template-rows: 0.4fr 3.4fr;
  gap: 5px;
}
.trending-container {
  display: grid;
  grid-template-rows: 0.3fr 2.9fr;
  gap: 5px;
}
.trending-card {
  display: grid;
}
.trending-card-user {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
}
.trending-card-user img {
  grid-row: span 2;
  place-self: center;
}
.trending-card-user p:first-of-type {
  align-self: end;
}

/* =========  Fonts  ========= */
nav .logo h1 {
  font-family: action, sans-serif;
  font-size: clamp(1rem, 1.2rem + 0.4vw, 2rem);
}
.user h2,
.cards-container h2,
.assignment-container h2,
.trending-container h2 {
  font-size: clamp(1rem, 1rem + 0.1vw, 1.2rem);
}
.profile h3 {
  font-size: clamp(0.4rem, 0.9rem + 0.5vw, 1.2rem);
}
nav ul,
.user p,
.card p,
.card h3,
.assignment-card h4,
.assignment-card p,
.trending-card-user p,
.header-buttons button {
  font-size: clamp(0.3rem, 0.6rem + 0.5vw, 0.7rem);
}

.header-buttons button {
  font-weight: bold;
}

/* =========  Navbar styling  ========= */
nav .logo {
  place-self: start;
  gap: 10px;
  padding-left: 5px;
}
nav .logo h1 {
  place-self: center;
}
nav .logo img {
  min-width: 40px;
}
nav ul {
  display: flex;
  flex-direction: column;
}
nav ul li {
  width: fit-content;
  padding: 6px 12px 6px 26px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 0 16px 16px 0;
}
nav ul li:hover {
  background: var(--color-turquise);
  font-size: larger;
  cursor: default;
}

/* =========  Header styling  ========= */
.searchbar {
  padding-left: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.searchbar label {
  padding-top: 5px;
}
.searchbar input {
  padding: 0px 10px;
  height: 3.6vh;
  width: 80%;
  border: none;
  border-radius: 16px;
  box-shadow: 2px 3px 5px var(--color-black);
}
.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}
.profile > *:hover {
  transform: translateY(5px);
}
.profile img {
  max-width: 15%;
}
.user-welcome img {
  max-width: 80%;
  place-self: center;
}
.user-welcome img,
.profile img:nth-child(2) {
  background: var(--color-lime);
  border-radius: 80px;
  margin-top: 3px;
  padding: 2px;
}
.user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5vw;
}
.header-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5vw;
}
.header-buttons button {
  width: 6vw;
  padding: 10px 0px 10px 0px;
  border: none;
  border-radius: 20px;
  background: var(--color-black);
  color: var(--color-lime);
}
.header-buttons button:hover {
  transform: scale(1.1);
}

/* =========  Main styling  ========= */
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: var(--background-opacity);
  border-radius: 8px;
  padding: 0px 10px;
}
.card:hover {
  transform: translateY(-5px);
}
.card .icons {
  align-self: flex-end;
}
.icons img {
  padding: 0px 10px;
  border-right: 3px solid var(--color-purple);
}
.icons img:last-child {
  border: none;
}
.icons img:hover {
  transform: translateY(-3px);
}

/* =========  Main  sidebar styling  ========= */
.assignment-card,
.trending-card {
  background: var(--background-opacity);
  border-radius: 8px;
}
.assignment-card {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.assignment-card p {
  border-bottom: 3px solid var(--color-turquise);
  padding-bottom: 0.5vw;
}
.assignment-card p:last-child {
  border: none;
  padding-bottom: 0px;
}
.trending-card-user img {
  background: linear-gradient(90deg, #89fc00 0%, #00dbde 100%);
  border-radius: 20px;
  padding: 10px;
}
.trending-card-user:nth-child(even) > img {
  background: linear-gradient(90deg, #00dbde 0%, #89fc00 100%);
}

@media (-webkit-device-pixel-ratio: 1.25) {
  .assignment-card p {
    padding-bottom: 10px;
  }
}

@media (max-width: 1247px), (-webkit-device-pixel-ratio: 1.5) {
  .main-container {
    height: 120vh;
  }
  .assignment-card p {
    padding-bottom: 5px;
  }
  .cards {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
